  #Container {
            margin: 100px auto;
            border: solid 1px none;
            width: 608px;
            height: 383px;
            background-image: url(/images/a8.png);
        }
        #divbuju
        {
             margin-top:110px;
              margin-left:150px;
        }