 #Container {
            margin: 100px auto;
            border: solid 1px #f0f0f0;
            width: 701px;
            height: 472px;
            background-image: url(/images/a9.png);
        }
          #divbuju
        {
             margin-top:110px;
              margin-left:150px;
        }