 #Container {
            margin: 100px auto;
            border: solid 1px #f0f0f0;
            width: 640px;
            height: 390px;
            background-image: url(/images/a7.png);
        }
         #divbuju
        {
             margin-top:110px;
              margin-left:240px;
        }